<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="../css/login.css">
</head>
<body>
  <div class="container">
    <h2>Iniciar Sesión</h2>
    <form id="login-form">
      <input id="email" type="email" placeholder="Email" required>
      <input id="password" type="password" placeholder="Contraseña" required>
      <button type="submit">Entrar</button>
    </form>
    <p>¿No tienes cuenta? <a href="register.html">Regístrate</a></p>
    <a href="../../index.html" class="volver">← Volver al inicio</a>
  </div>
  <script type="module" src="../js/login.js"></script>
</body>
</html>
